@font-face {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-style: normal;
  src: url('font-src/Noto/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 600;
  font-style: bold;
  src: url('font-src/Noto/NotoSans-Bold.ttf');
}


@font-face {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-style: italic;
  src: url('font-src/Noto/NotoSans-Italic.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url('font-src/Noto/NotoSans-BoldItalic.ttf');
}

.font-noto{
    font-family: 'Noto Sans';
}
