.container {
  max-width: 960px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.border-top-gray {
  border-top-color: #adb5bd;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-condensed {
  line-height: 1.25;
}

.navbar {
  background-color: #0B1315 !important;
}

.navbar .nav li a {
  color: #FDBB30 !important;
}