@media only screen and (max-width: 600px) {
    .peer-navbar-item {
        position: relative;
        top: -40px;
        left: 90px;
    }
    .main {
        height: 120px;
    }
}

#peer {
    display: flexbox;
    flex-wrap: wrap;
    background-color: #0B1216;
    border-radius: 0;
    margin-top: -26px;
    font-size: 1.1em;
}

.peer-navbar-item {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
    margin-right: 35px;
}

.nav-item1:nth-child(1) {
    font-weight: bold;
}

.nav-item1 {
    color: #FDBB30 !important;
    list-style-type: none;
    padding-left: 8px;
}

.nav-item1 a {
    color: #FDBB30 !important;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: transparent;
}

.peer-image {
    margin-left: 15px;
    height: 60px;
    width: fit-content;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.navbar-brand {
    margin-top: -5px;
}

.main {
    margin-top: -25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.sub {
    height: fit-content;
}

.sub-1 {
    position: relative;
    top: -14px;
}